h1 {
    color: pink;
    font-size: 300%
}

h2 {color: magenta;
font-size: 300%
}

ol {
    font-family: fantasy;
    text-indent: 35px;
    margin indent: 10px
}

#content {
    background-color: #ffb6cl;
    width: 1000px;
    min-height: 1000px;
    padding: 8px;
    margin: 8px;
    border: solid 1px #FF0D86;
    font-size: 30px;
