h1 {
    color: magenta;
    font-size: 300%;
    font-family: monospace;
    
}

h2 {color: Brown;
font-size: 250%;
font-family: monospace;
text-indent: 35px;
margin indent: 1px

}

h3 {color: Brown;
  font-size: 200%;
  font-family: monospace;
  text-indent: 35px;
  margin indent: 10px;

}


p {color: brown;
font-size: 150%;
font-family: monospace;
text-indent: 1px;
margin indent: 1px;
}
